{deps, [
	{cowboy, "1.0.3",{git, "https://github.com/extend/cowboy.git", "1.0.3"}},
	{sockjs, ".*", {git, "git://github.com/sockjs/sockjs-erlang.git", "master"}},
	{mochiweb, ".*",{git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{cowdb, ".*", {git, "git://github.com/refuge/cowdb.git", {branch, "master"}}}
]}.