<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-5">
                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="nickname">Nickname</label>
                        <div class="col-sm-3">
                            <input class="form-control" ng-model="data.nickname" type="text" id="nickname" placeholder="Nickname">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="message">Message</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="data.message" type="text" id="message" placeholder="Message">
                        </div>
                    </div>
                    <button ng-click="sendData()" type="button" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-7">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nickname</th>
                            <th>
                                Message
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in messages">
                            <td>{{msg.nickname}}</td>
                            <td>{{msg.message}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <irontec-simple-chat messages="messages" username="username" input-placeholder-text="You can write here" submit-button-text="Send your message" title="Super Awesome Chat" theme="material" submit-function="sendMessage" visible="visible" expand-on-new="expandOnNew">
            </irontec-simple-chat>
        </div>
    </div>
</div>
